.container {
    font-family: arial;
    line-height: 1.5em;
}

h3 {
    margin: 12px 8px;
}

input[type=text],
input:not([type]) {
    text-align: right;    
}

input[type=button] {
    width: 100%;
}

table input {
    font-size: 18px;
    padding: 4px;
    box-sizing: border-box;
}

table tr td {
    padding: 4px;
}

.tvm table input {
    width: 160px;
}

.eff table input {
    width: 110px;
}

.tvm_formula {
    width: 400px;
    margin: 20px;
}

.github {
    height: 50px;
    margin: 0 0 20px 20px;
}

#btn_cy {
    color: black;
}
